body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(48, 48, 48);
    background-image: url(../img/bg-music-landscape.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

body::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: url(../img/pattern.png);
    pointer-events: none;
}

main {
    position: relative;
    z-index: 2;

    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: bold;
}

.titulo-principal {
    width: 70%;
    text-transform: uppercase;
    font-size: 27px;
    text-shadow: 5px 5px 24px rgba(254, 255, 254, 0.6);
}

.intro-text {
    font-size: 14px;
    font-weight: 400;
}

.music-container {
    width: 100%;
    max-width: 525px;
    position: relative;
}

.reproductor-musica {
    width: 100%;
    background-color: white;
    height: 66px;
    display: block;
    overflow: hidden;
    position: relative;
}

.item-canales {
    width: 100%;
    background-color: black;
}

.item-canales ul {
    margin: 0;
    padding: 0;
}

.item-canales li {
    list-style: none;
    display: block;
    background-color: black;
    width: 100%;
    border: solid 1px #282828;
}

.item-canales li a {
    display: block;
    padding: 17px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

.item-canales li a:hover {
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#111111", GradientType=1);
}

.item-canales li a img {
    width: 125px;
    height: 40px;
}

.btn-dark {
    float: right;
    height: 40px;
    border: solid 1px #3a3a3a;
    background-color: black;
    color: #b5b5b5;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#111111", GradientType=1);
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-principal {
    width: 280px;
    height: auto;
    position: fixed;
    right: 80px;
    bottom: 80px;
}

.btn_reproductor {
    width: 96px;
    height: 66px;
    border: none;
    border-right: solid 1px #e3e3e3;
    background-color: white;
    display: block;
    float: left;
}

.btn_reproductor:hover {
    background-color: rgb(240, 240, 240);
}

.title-song {
    height: 66px;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 40%;
}

.title-song p{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
}

.banner-mobile-version
{
    display: none;
}
.logo-mobile-version
{
    text-align: center;
    height: 95px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 25px;
    display: none;
}
.logo-mobile-version img
{
    width: 80%;
    max-width: 175px;
}
.redes-sociales
{
    width: 30px;
    height: 180px;
    right: 0;
    top: 50%;
    position: absolute;
    margin-top: -90px;
    margin-right: 8px;
}
.redes-sociales ul{
    margin: 0;
    padding: 0;
}
.redes-sociales ul li{
   list-style: none;
   display: block;
   margin-bottom: 25px;
}
.progress-bar-music
{
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 0;
    top:0;
}

.progress-bar-music span
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: magenta;

    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,0,255,0.25); 
    box-shadow: 0px 0px 15px 2px rgba(255,0,255,0.25);
}

/**************************************************/

/***************responsive*************************/

/**************************************************/



@media only screen and (max-width:1200px) {
    .title-song
    {
        width: 30%;
    }
}

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:991px) {
    .btn_reproductor {
        width: 66px;
    }
}

@media only screen and (max-width:767px) {

    body, html {       
        background-image: url(../img/bg-music-portrait.jpg);
        background-size: 100% 100%;
    }

    .logo-principal
    {
        display: none;
    }
    .banner-mobile-version
    {
        display: block;
        width: 100%;
    }
    .logo-mobile-version
    {
        display: block;
    }
    main
    {
        height: auto;
        margin-top: -95px;
    }
    .redes-sociales
    {
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
    }
    .redes-sociales ul{
       
        text-align: center;
    }
    .redes-sociales ul li {
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:600px) {
    .titulo-principal {
        width: 80%;
        font-size: 24px;
    }
}

@media only screen and (max-width:480px) {
    .titulo-principal {
        font-size: 18px;
    }
    .title-song
    {
        width: 30%;
    }
}

@media only screen and (max-width:320px) {}

@media only screen and (max-width:240px) {}

/**************************************************/

/***************responsive*************************/

/**************************************************/